.social-block {
  p {
    margin-right: 20px;
    color: $color-text-contrast;
  }

  & a {
    margin-left: 10px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover, &:active, &:focus {
      cursor: pointer;
      text-decoration: none;

      path {
        fill: $color-light;
      }
    }
  }
}

.header {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 60px;
  box-sizing: border-box;

  & > svg:nth-child(2) {
    display: none;
  }

  &--small {
    padding: 20px 40px;
    background: $bg-header;

    & > svg:nth-child(1) {
      display: none;
    }

    & > svg:nth-child(2) {
      display: block;
    }

    & .social-block {
      p {
        color: $color-light;
      }

      & a {
        path {
          fill: $color-light;
        }

        &:hover, &:active, &:focus {
          path {
            fill: darken($color-text-contrast, 3%);
          }
        }
      }
    }
  }
}
