.baby {
  padding: 100px 0 100px 0;
  background: linear-gradient(to bottom, $color-main, $color-main--baby);

  .section__content {
    max-width: 960px;
  }

  .section__text-bg {
    background: $bg-text-2;
  }
}
