.bamboo {
  padding: 200px 0 100px 0;
  background: linear-gradient(to bottom, $color-main--bamboo 0%, $color-main 10%, $color-main 100%);

  .section__content {
    max-width: 960px;
  }

  .section__text-bg {
    background: $bg-text-1;
  }
}
