.help {
  padding: 200px 0 200px 0;
  background: $color-main--book;

  &__panda {
    width: 600px;
    display: flex;
    padding-top: 70px;
    justify-content: center;
    background: url(../img/mountains.svg) no-repeat;
    background-size: contain;
  }

  .section__content {
    max-width: 1100px;
  }

  &__text {
    max-width: 400px;
    padding-top: 100px;

    * {
      color: $color-text-contrast;
    }

    p {
      margin: 20px 0;
    }
  }

  &__title {
    max-width: 330px;
  }

  &__money-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font: $font-h1;

    h2 {
      width: 220px;
      font: inherit;
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__money {
    position: relative;
    font-size: 36px;
    color: $color-text-contrast;

    &:before {
      content: '$';
      position: absolute;
      left: -22px;
      top: -8px;
      font-size: 24px;
    }
  }

  &__btn {
    padding: 18px 40px 17px 40px;
    float: right;
    font: $font-btn;
    background: $bg-text-1;
    color: $color-light;
    text-transform: uppercase;
    border-radius: 40px;

    &:hover, &:focus, &:active {
      background: lighten($bg-text-1, 3%);
      color: $color-light;
    }
  }
}

.help-call {
  width: 100%;
  background: $color-main--book;

  h2 {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
  }
}

input[type=range] {
  -webkit-appearance: none;
  margin: 30px 0 40px 0;
  width: 100%;
  outline:none;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.8);
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  border-radius: 7px;
  border: 0 solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  border: 0 solid #000000;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background: $color-light;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  border-radius: 7px;
  border: 0 solid #000101;
}
input[type=range]::-moz-range-thumb {
  border: 0 solid #000000;
  margin-top: -9px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background: $color-light;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  border: 0 solid #000101;
  border-radius: 50px;
}
input[type=range]::-ms-fill-upper {
  border: 0 solid #000101;
  border-radius: 50px;
}
input[type=range]::-ms-thumb {
  border: 0 solid #000000;
  margin-top: -9px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background: $color-light;
  cursor: pointer;
}

input[type=range]::-moz-focus-outer {
  border: 0;
}
