.section {
  width: 100%;
  display: flex;
  padding-left: 30px !important;
  padding-right: 30px !important;
  justify-content: center;
  background: $color-main;
  box-sizing: border-box;

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__text-bg {
    width: 480px;
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
}

@import 'do-you-know',
'mountains',
'bamboo',
'baby',
'book',
'help';
